body{
    font-family: Verdana,Arial,"Verdana","Helvetica",Sans-serif;
    margin-left:1px; 
    margin-right:1px;  
    margin-top:0px; 
    margin-bottom:0px;
    background:#f5f6f6;
}
/*zsiTable*/

    table.zTable .align-l{ text-align:left;}
    table.zTable .align-r{ text-align:right;}
    table.zTable .align-c{ text-align:center;}
    table.zTable tr.total td {
        background-color:#8E5458;    
        padding-bottom: 4px;
        padding-top: 4px;
        color:#fff;
        font-weight:bold;
    }    
   table.zTable tr th{
         vertical-align: inherit;
         background-color:#F4EEED;
         padding-bottom: 4px;
         padding-top: 4px;
     }    
    table.zTable tr th, table.zTable tr td { 
        padding-left: 5px;
        padding-right: 5px;
        border-left: 1pt solid #d6d8d8;
    }
    
    table.zTable{
        margin-top: 10px;
        border: 1pt solid #e5e5e5;
    }
    table.zTable tr th.title1{
        background-color:#562F32;   
        color:#fff;
    }
    table.zTable tr th.title2{
        background-color:#8E5458;
        color:#fff;
    }
    
    table.zTable tr.even td {
        background-color:#F9F3DE;
    }
    
    table.zTable tr:hover td {
        background-color:#B21E28;
        color:#fff;
    }
  
/*end of zsiTable*/

.table {
    margin-top: 10px;
}

.modal-body > table.table tbody tr td {
    padding-right:10px;
}

.subTable tbody tr td {
    padding-top: 2px;
}
    
.page {
    background: #fff none repeat scroll 0 0;
    border: 1pt solid #e5e5e5;
    min-height: 500px;
    padding-left: 10px;
    padding-top: 10px;
}
ul
{
    list-style-type: none;
}

.leftnavpanel ul{
  margin-left: 0;
  padding-left: 5px;
}

.leftnavpanel a{
  
  font-size: 11px;
  font-weight: normal;
}


#footer{
 margin-top:15px; 
}
#footer a{
 color:#C1E3FF;
}

 
#copyright{
  margin-left:15px;
}

#poweredby{
  margin-right:5px;
}

.container-full{
  margin: 0 auto;
  width: 99%;
}
.welcome-container{
  margin: 0 auto;
  width: 99%;
}

.screen-holder{
  width:661px;
}


#banner{
 background :url("/assets/images/banner.jpg") no-repeat; 
 height:39px;
 background-color:#99B7FD;
}


#parentId{
   position: relative; top: 0px; left: 0px; 
   height: 50px; 
   aborder: #B5CDE4 1px solid;
}

.head6 { 
    font-family: trebuchet ms, verdana, arial, helvetica; 
    font-size: 100%; 
    padding-bottom: 2px; 
    font-weight: bold; 
    color: #000;
    margin: 0; 
}
/********[left box ]*******************/
.itemLeftBox {    
    margin-top: 10px;
}
.itemLeftBox .panel-body{
    height: 400px;
    overflow:auto;
}
a.itemRemove{
    color: #3071a8;
    float: right;
    font-size: 20pt;
    margin-right: 10px;
    text-decoration: none;
    top: -31px;
}
    
a.itemRemove:hover{
    color:red;
    text-decoration:none;
}    
/***************************/

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.bottomNav{

}

.nav-tabs{
  margin-top: 5px
}

.buttonGroup {
  margin-top:5px;
  margin-right:20px;
  padding-left: 6px;
  margin-bottom: 5px;
}
.buttonGroup button {
  margin-right:5px;
}

.pageholder{
  width:97.7%;

}
.pagectrl{
  padding-top: 10px;
}
.pagectrl label{
  margin-left: 5px;
}

.pagestatus{
  float: right;
  font-weight: bold;
  margin-top:-20px;
}

.userControl{
 margin-top: 10px
}
 
.inputDate{
   width:130px;
}
.input-group-btn button{
  margin-top: -3px;
}


.form-group .control-label{
  text-align: right;
}
.form-header {
   margin-bottom:5px;
   margin-top: 5px
}
.form-header .form-group label {
   padding-top: inherit;
}

.yesno-td{
   width: 53px
}

/* m5= minus 5*/
.LeftAdjust-m5{
  margin-left:-5px
}

.LeftAdjust-m4{
  margin-left:-4px
}

.LeftAdjust-m3{
  margin-left:-3px
}
/*modal*/


.modal-body {
    overflow: auto;
}


/*Tabs*/


.tab-pages div.tab{
  display:none;
  background-color:#fff;
  min-height:200px;
  padding-top:5px;
  padding-left:2px;
  overflow:hidden;
  border-color: transparent #ddd #ddd;
  border-style: solid;
  border-width: 1px;
}

.tab-pages div.active{
  display:block;

}
td #delete-row span{
   margin-top:7px;
}

/*end Tabs */



/*search panel*/
.SearchPanel{

   border: 1pt solid #a6a6a6;
   height: 250px;
   overflow-y: scroll;
   width: 300px;
   position: absolute;
   display:none;
   background:#fff;
}

.SearchPanel table tr.active td{

   background-color:#4285F4;
   color:#fff;
}

.SearchPanel table tr.active td a{

   color:#fff;
}

.SearchPanel table tr:hover td{

   background-color:#94bcff;
}

.SearchPanel tbody tr:nth-child(even) {background: #e5f2f8}
.SearchPanel tbody tr:nth-child(odd) {background: #fff}

/*end of search panel*/


/*gridReport*/

   .fullWidth{
      width:100%;
   }
 
 .gridReport {
      border-collapse: collapse;
      border:1pt;
   }
   
   .gridReport tr th, .gridReport tr td{
      border: solid 1pt #000;      
      padding-left: 5px;
      padding-right: 5px;
   }

   .gridReport tr th{
      font-size:10pt;            
   }
   
   .gridReport tr td{
      font-size:10pt;       
   }
   
/*end of gridReport*/

/* Report */

.reportcriteria{
   font-size:10pt;
   margin-bottom: 3px;
}

.reportTitle{
   font-size: 11pt;
   font-weight: bold;
   margin-bottom: 2px;
   margin-top: 5px;
}
 
.loadingStatus{
   color: red;
   font-size: 10pt;
   font-weight: bold;
   margin: 0 auto 30px;
   width: 220px;   
}

.progressWindow{
   background-color: #fff;
   border: 1pt solid #3399ff;
   color: #055A78;
   font-weight: bold;
   height: 25px;
   top: 43px;
   padding-left: 10px;
   padding-top: 3px;   
   position: absolute;
   width: 200px;
   z-index: 1000;
   display:none;
}

.errorWindow{
   background-color: #fff;
    color: red;
    font-weight: bold;
    padding: 5px 5px 10px 10px;
    position: absolute;
    top: 0;
    width: 315px;
    z-index: 1000;
    border: 1pt solid #3399ff;
    display:none;
}


.loadingImg{
   background :url("/assets/images/loading.gif") no-repeat;
   width:30px;   
   height:19px;   
   float: left;
}

.loadIconR{
   background-image: url("/assets/images/loading.gif") ;
   background-repeat: no-repeat;
   background-size: 17px 15px;
   background-position: right center;   
}


.loadingText{
   float: left;
   margin-left: 5px;   
}

.alignCenter{
   text-align:center;
}

.alignLeft{
   text-align:left;
}

/*end of Report*/
